body {
    background-color: #292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    color: #fff; 
    font-family:monospace;
}

.seat {
    background-color: #444451;
    height: 30px;
    width: 30px;
    margin: 3px;
    border-radius: 5px;
}


.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-last-of-type(3) {
    margin-right: 20px;
}

.seat:not(.reserved):hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color:grey;
}

.seat.selected{
    background-color: burlywood;
}
.seat.reserved{
    background-color: white;
}

.row {
    display: flex;
}

.screen {
    background-color: #fff;
    height: 50px;
    width: 400px;
    margin: 20px 0;
    box-shadow: 0 3px 8px rgba(255, 255, 255, 0.7);
}

.movie-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.movie-list select {
    width: 200px;
    text-align: center;
    background-color: #292929;
    color: white;
    height: 30px;
    font-family: inherit;
}

.info {
    background-color:rgb(20, 29, 29);
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-weight:bold; 
}

.info .seat {
    pointer-events: none;
}

#text{
    text-align: center;
}